@font-face {
    font-family: LeckerliOne;
    src: url(../fonts/LeckerliOne-Regular.ttf);
}
#brand {
    font-family: LeckerliOne;
    color:blue;
    font-size:larger;
}
#brand2 {
    font-family: LeckerliOne;
    color:rgb(69, 193, 255);
    font-size:larger;
}